<!DOCTYPE html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table align="center" bgcolor="#c9d6ff" border="3" cellpadding="5" cellspacing="0" dir="ltr" width="600px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #000000;"><span style="font-size: 20px;">Прогнозное значение параметра:<br />
			Соотношение матрица-наполнитель</span></span></span></th>
		</tr>
		<tr>
			<th><span style="font-size: 20px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #000000;">Заполните все ячейки</span></span></span></th>
		</tr>
	</tbody>
</table>
</head>
 <body><table align="center" bgcolor="#c9d6ff" border="3" cellpadding="5" cellspacing="5" dir="ltr" width="600px">
    <form action="" method="post">
<table align="center" bgcolor="#c9d6ff" border="3" bordercolor="#000000" cellpadding="5" cellspacing="5" width="600px">
	<tbody>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param1">Плотность [кг/м3]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input type="float" name="param1" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param2">Модуль упругости [ГПа]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param2" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param3">Количество отвердителя [м.%]</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param3" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param4">Содержание эпоксидных групп [%_2]</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param4" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param5">Температура вспышки [С_2]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><input name="param5" placeholder="Заполнить" type="float" /></span></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param6">Поверхностная плотность [г/м2]</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param6" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param7">Модуль упругости при растяжении [ГПа]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param7" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param8">Прочность при растяжении [МПа]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param8" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param9">Потребление смолы [г/м2]</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param9" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param10">Угол нашивки [град]</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param10" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param11">Шаг нашивки</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param11" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#000000;"><label for="param12">Плотность нашивки</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param12" placeholder="Заполнить" type="float" /></span></span></td>
		</tr>
	</tbody>
</table>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="5" width="600px">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><p>
            <input type="submit" value="Получить рекомендацию по параметру: cоотношение матрица-наполнитель ">
            </p></span></span></span></span></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="5" width="600px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #000000;">{% if message %} </span></span><p><span style="font-family: Times New Roman,Times,serif;"><span style="color: #000000;">{{ message }}</span></span></p>
			<span style="font-family: Times New Roman,Times,serif;"> <span style="color: #000000;">{% endif %} </span></span>

			</th>
		</tr>
	</tbody>
</table>
</form>
